page-shareData {
.toolbar-background{
background:#287a28;
}

.bar-button-menutoggle{
color:white;
}

.back-button{
color:white;
}

.toolbar-title{
color:white;
}

.subtitle{
opacity:0.5;
}

.imgShare{
opacity:0.3;
width:25%;
}
}
