page-home {

.toolbar-background{
background:#287a28;
}

.bar-button-menutoggle{
color:white;
}

.toolbar-title{
color:white;
}

.imgLogin{
color:white;
}

.bodyContent{
background: url('../assets/imgs/soccer.jpg') no-repeat;
background-size: cover;
color:white;
}

small{
color:black;
}

small.notify{
color:white;
}

.titleCard{
font-size: 1.4rem !important;
}

div.swiper-pagination {
   top:20px;
   bottom:inherit;
}

.swiper-pagination-bullet-active {
  background:#b3ff66;
}

.elo{
background:#cbcb2f;
border-radius:100%;
padding-bottom:15px;
padding-top:15px;
}

.glitterbackImage{
//background-image:url(https://i.gifer.com/YGg4.gif);
background-image:url('../../assets/imgs/fireworks.gif');

}
}
