page-newMatchday {
.toolbar-background{
background:#287a28;
}

.bar-button-menutoggle{
color:white;
}

.back-button{
color:white;
}

.bar-button{
color:white;
}

.toolbar-title{
color:white;
}

#imgNewMatchdayEmptyList{
opacity:0.1;
width:30%;
margin-top:36%;
margin-left:35%;
}

.subtitle{
opacity:0.2;
}
}
