page-seasons {
.toolbar-background{
background:#287a28;
}

.bar-button-menutoggle{
color:white;
}

.back-button{
color:white;
}

.toolbar-title{
color:white;
}

.bodyContent{
//background: #449744;
//background: transparent;
background:url('../assets/imgs/background2.jpg') no-repeat center;
background-size:cover;
color:white;
}

.transparent{
background:transparent;
//background:url('../assets/imgs/field.jpg');
color:white;
}

.transparent p{
color:white;
}

.backgW{
background:white;
}
}
